/* 
    Document   : main
    Created on : 19-oct-2011, 15:07:22
    Author     : erick
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


.with-options{ margin-left: 0px !important; }
.remote-content{ display: none;}

/*FORM*/
span.required{color:red;}

input.error,textarea.error,select.error{ 
    border-color: #FF9999 !important;
}


/*ICON*/
.add{
    background: url('../images/icons/add.png') no-repeat 0 0;
}
a.button-without-text{
    display: inline-block;
    width: 16px;
    height: 16px;  
    float: left;
}
a.header-button-without-text{
    display: inline-block;
    width: 16px;
    height: 16px;  
    float: left;
    margin: 8px 5px 8px 10px;
}

